.timer {
  font-family: Lato;
  margin: 20px;
  color: white;
  font-size: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  font-size: 40px;
  padding-top: 25px;
  color: grey;
}
.container{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  margin-top:150px;
}

.buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
      .button{
          border:none;
          border-radius: 10px;
          font-size: 18px;
          padding: 10px;
          width: 180px;
          transition: .3s ease-in-out;

           &.start{
               background-color: black;
               display: block;
               border: 1px solid white ;
               color:white;
              &:hover{
                  background-color: green;
                  color: white;
              }
           }
          &.wait{
              background-color: black;
               display: block;
               border: 1px solid white ;
               color:white;
              &:hover{
                  background-color:gold;
                  color: black;
              }
          }
          &.stop{
              background-color: black;
               display: block;
               border: 1px solid white ;
               color:white;
              &:hover{
                  background-color:red;
                  color: white;
              }
          }
          &.reset{
              background-color: black;
               display: block;
               border: 1px solid white ;
               color:white;
              &:hover{
                  background-color:white;
                  color: black;
              }
          }
          
      }
}



